// 通用ui整体调整
.el-header {
    --el-header-padding: 0;
    --el-header-height: 60px;
}

.el-drawer__header {
    outline: none;
    font-size: 24px !important;
    border-bottom: 1px solid var(--el-border-color-light) !important;

    .el-drawer__close-btn > .el-icon {
        font-size: 20px;
    }
}

.el-menu {
    --el-menu-item-font-size: var(--el-font-size-medium);
    border-right: 0;

    .el-dropdown-link {
        cursor: pointer;
    }

    .ArrowDown {
        font-size: 12px;
    }

    .el-sub-menu,
    .el-menu-item {
        [class^='icon-'],
        [class^='el-icon-'] {
            font-size: 18px;
            margin-right: 4px;
            margin-top: -3px;
        }
    }
    .el-menu-item.is-active {
        background-color: var(--el-menu-hover-bg-color);
    }
}
.el-menu--horizontal {
    height: var(--el-header-height);
    border-bottom: 0;
}
.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 4px solid var(--el-menu-active-color) !important;
}

.el-menu--collapse {
    .el-sub-menu,
    .el-menu-item {
        [class^='icon-'],
        [class^='el-icon-'] {
            font-size: 24px;
            margin: 0;
        }
    }
}

// form表单的问题
@media screen and (max-width: 1920px) {
    .query {
        margin-bottom: -18px !important;
    }
    .el-form {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1921px) {
    .query {
        margin-bottom: -22px !important;
    }
    .el-form {
        margin-bottom: 0;
    }
}
.el-form--inline .el-form-item {
    margin-right: 10px !important;
}
.el-select,
.el-cascader,
.el-input-number {
    width: 100%;
}

.el-form--label-top .el-form-item__label {
    padding: 0;
}

// bialog
.el-dialog {
    --el-dialog-padding-primary: 10px !important;
    --el-dialog-padding-primary: 15px !important;
    border-radius: var(--el-border-radius-base) !important;
    .el-dialog__header {
        border-bottom: 1px solid #f5f5fa;
        .el-dialog__title {
            font-weight: 600;
        }
    }
    .el-dialog__headerbtn {
        top: 0;
        width: 50px;
        height: 50px;
        font-size: var(--el-message-close-size, 20px);
    }
}

.el-message-box__header {
    .el-dialog__header {
        border-bottom: 1px solid var(--el-color-primary);
        .el-dialog__title {
            font-weight: bolder;
        }
        .el-dialog__headerbtn {
            font-size: 20px;
            .el-dialog__close {
                font-size: 18px;
            }
        }
    }
    .el-dialog__footer {
        border-top: 1px dashed var(--el-color-primary);
    }

    .el-message-box__header {
        border-bottom: 1px solid var(--el-color-primary);
    }
    .el-dialog__body {
        padding: var(--el-dialog-padding-primary) !important;
    }
}

// 级联选择框(单选)
.el-cascader-panel {
    .el-radio {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        top: 0;
    }

    .el-radio__input {
        visibility: hidden;
    }

    .el-cascader-node__postfix {
        top: 10px;
    }

    .el-cascader-menu__list {
        max-height: 400px;
    }
}

.el-select .el-input__inner {
    padding-right: 30px;
}

.el-radio-button__inner {
    color: #4458fe;
    font-weight: 700;
}

// 按钮部分
.el-button + .el-button-group,
.el-button-group + .el-button,
.el-button-group + .el-button-group {
    margin-left: 10px;
}

// 表格
.el-table {
    --el-table-header-bg-color: var(--el-fill-color-lighter, var(--el-border-color-lighter)) !important;
    &__body,
    &__footer,
    &__empty-block,
    &__header {
        width: 100% !important;
    }
}

// 抽屉
.el-drawer {
    --el-drawer-background-color: var(--el-dialog-background-color, var(--el-color-white));
    --el-drawer-padding-primary: var(--el-dialog-padding-primary, 20px);
    .el-drawer__body {
        // background-color: var(--system-container-background);
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1;
        height: 0;
    }
    .el-drawer__header {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 900;
        border-bottom: 1px solid var(--el-button-border-color, var(--el-border-color-base));
        padding-bottom: var(--el-drawer-padding-primary);
    }
}

// 标签
.el-tabs__item {
    font-size: 16px;
    .is-active {
        font-weight: bold;
    }
}

.el-page-header__left {
    margin-right: 20px !important;
    color: var(--el-color-primary);
    transition: all 0.3s;
    .el-page-header__icon {
        margin-right: 0px;
    }
    .el-page-header__title {
        font-size: 16px;
    }
    &::after {
        right: -10px !important;
        transform: translateY(-50%) rotate(19deg) !important;
        background-color: var(--el-color-primary) !important;
    }
    &:hover {
        transform: translateX(-5px);
    }
}

.el-page-header__content {
    font-weight: 900;
}

.el-popover.proppper-class {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px rgba(179, 192, 231, 0.32);
    padding: 12px 0 0 0;
}

// .el-icon
.el-icon {
    vertical-align: -12%;
}
